
# ignore QT project user file
src/ricinus.pro.user

# ignore QT build temporary files
build-ricinus-*-Debug/
build-ricinus-*-Release/

# ignore Doxygen generated HTML files
doc/doxygen/html/
doc/doxygen/html.zip
